profiles {
  local {
    process.executor = "local"    
  }
  sge {
    process {
      executor = "sge"
      scratch = true
      maxForks = 31
      errorStrategy = "finish"
      clusterOptions = "-P montilab-p -pe omp 16"
      container = "montilab/shine:latest"
    }
    //singularity.enabled = true
  }
  docker {
    process.container = "montilab/shine:latest"
    docker.enabled = true
  }
}